<footer id="footer">
	<section class="container mx-auto py-10">
		<div class="grid md-cols-2 lg-cols-4 font-popins">
			<div class="text-grey text-center md-text-left">
				<!-- <address> -->
					<span>373 Confederate Drive, New York, 13502</span>
					<a class="d-block text-grey" href="tel:315-669-6533">315-669-6533</a>
					<span class="text-red">ourcompany@tempsmtp.com</span>
				<!-- </address> -->
			</div>
			<div class="text-grey text-center md-text-left">
				<h4 class="text-bold text-dark">About</h4>
				<div class="py-5">
					<a class="d-block" href="#"><span class="text-grey">About Us</span></a>
					<a class="d-block" href="#"><span class="text-grey">Blog</span></a>
					<a class="d-block" href="#"><span class="text-grey">Portfolio</span></a>
					<a class="d-block" href="#"><span class="text-grey">Careers</span></a>
					<a class="d-block" href="#"><span class="text-grey">Partners</span></a>
				</div>
			</div>
			<div class="text-grey text-center md-text-left">
				<h4 class="text-bold text-dark">Services</h4>
				<div class="py-5">
					<a class="d-block" href="#"><span class="text-grey">eCommerce</span></a>
					<a class="d-block" href="#"><span class="text-grey">Branding</span></a>
					<a class="d-block" href="#"><span class="text-grey">Strategy</span></a>
					<a class="d-block" href="#"><span class="text-grey">Design</span></a>
					<a class="d-block" href="#"><span class="text-grey">Figital Marketing</span></a>
				</div>
			</div>
			<div class="text-grey text-center md-text-left">
				<h4 class="text-bold text-dark">Newsletter</h4>
				<p>Subscribe to our Newsletters to get the <br>latest news & updates.</p>
				<div class="flex py-5 justify-center">
					<div class="flex flex-gap-1 bg-light br-1">
						<input type="text" class="input-subscribe" placeholder="Enter email adress">
						<button class="btn btn-go h-100">Go</button>
					</div>
				</div>
			</div>
		</div>
		<div class="copyrights font-poppins">
			<p class="text-grey py-5 text-center">&copy; Digital Marketing. All rights reserved.</p>
		</div>
	</section>
</footer>
